global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000
    daemon

defaults
    log     global
    mode    tcp 
    option  tcplog
    option  dontlognull
    timeout connect 10s
    timeout client  1m
    timeout server  1m

# === HTTP trafiği (80) -> ingress NodePort (30080) ===
frontend http-ingress
    bind *:80
    mode tcp
    option tcplog
    default_backend ingress-http

backend ingress-http
    mode tcp
    balance roundrobin
    option tcp-check
    default-server inter 10s downinter 5s rise 2 fall 3

    # Worker node'lar ve Ingress NodePort'u (ör: 30080)
{% for host in groups['worker'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:30080 check
{% endfor %}

# (İsteğe bağlı) HTTPS trafiği (443) -> ingress NodePort (30443)
frontend https-ingress
    bind *:443
    mode tcp
    option tcplog
    default_backend ingress-https

backend ingress-https
    mode tcp
    balance roundrobin
    option tcp-check
    default-server inter 10s downinter 5s rise 2 fall 3

    # Worker node'lar ve Ingress NodePort'u (ör: 30080)
{% for host in groups['worker'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:30080 check
{% endfor %}
