---
# tasks file for bastion_k8s_repo
- name: Install nginx & createrepo
  dnf:
    name:
      - nginx
      - createrepo_c
    state: present

- name: Ensure k8s repo root
  file:
    path: "{{ k8s_repo_root }}"
    state: directory
    recurse: yes

# Expect you copied pkgs.k8s.io mirror under k8s_repo_root
- name: createrepo update
  command: createrepo_c --update {{ k8s_repo_root }}

- name: nginx vhost
  copy:
    dest: /etc/nginx/conf.d/k8s-mirror.conf
    content: |
      server {
        listen 80;
        server_name _;
        root {{ k8s_repo_root | dirname }};
        autoindex on;
      }
  notify: Restart nginx

- name: enable nginx
  service:
    name: nginx
    state: started
    enabled: true

