---
# tasks file for repos_config
- name: Remove all existing yum repo files
  file:
    path: /etc/yum.repos.d
    state: absent

- name: Recreate yum.repos.d directory
  file:
    path: /etc/yum.repos.d
    state: directory
    mode: '0755'

- name: Drop offline repo file (S3 + bastion)
  copy:
    dest: /etc/yum.repos.d/offline-local.repo
    content: |
      [offline-baseos]
      name=Offline BaseOS (S3)
      baseurl={{ s3_baseurl }}/baseos/rhel-10-baseos-rhui-rpms/
      enabled=1
      gpgcheck=0

      [offline-appstream]
      name=Offline AppStream (S3)
      baseurl={{ s3_baseurl }}/appstream/rhel-10-appstream-rhui-rpms/
      enabled=1
      gpgcheck=0

      [offline-kubernetes]
      name=Offline Kubernetes (bastion)
      baseurl=http://{{ registry_host }}/kubernetes/
      enabled=1
      gpgcheck=0

      [offline-docker]
      name=Offline Docker (bastion)
      baseurl=http://{{ registry_host }}/docker/
      enabled=1
      gpgcheck=0
  when: true
