replicaCount: 2

image:
  # air-gapped ortamda şuna benzer yaparsın:
  # repository: 172.31.48.176:5000/nginx
  repository: 172.31.48.176:5000/nginx 
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: "/"
  hosts:
    - host: hello.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

