---
# tasks file for docker_install

- name: Install docker engine
  dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

- name: Configure Docker daemon
  copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "exec-opts": ["native.cgroupdriver=systemd"],
        "insecure-registries": ["{{ registry_addr }}"],
        "registry-mirrors": ["http://{{ registry_addr }}"],
        "log-driver": "json-file",
        "log-opts": { "max-size": "100m" },
        "storage-driver": "overlay2"
      }

- name: Enable & start docker
  service:
    name: docker
    state: started
    enabled: true

